body {
    background-image: url("../imagenes/Background-Webpage-Image.jpeg");
    background-size: cover;
    background-position: center;
    margin: 0px;
    font-size: 16px;
    overflow: hidden;
}

p {
    font-size: 1rem;
}

button {
    background-color: white;
    width: 9vw;
}

button:hover {
    background-color: whitesmoke;
    font-weight: bolder;
}

button:active {
    background-color: aliceblue;
}

#caja {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "cabecera cabecera cabecera"
        "mensage mensage mensage"
        "mensage mensage mensage"
        "textarea textarea textarea"
        "teclado teclado teclado"
        "teclado teclado teclado";
}

.hora {
    font-size: 11px;
    padding-left: inherit;
}

#cabecera {
    grid-area: cabecera;
    background-color: #075F56;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#iconoUsuario {
    height: 5vh;
}

#nombreUsuario {
    color: white;
}

#salida {
    grid-area: mensage;
    background-image: url("../imagenes/background-image-whatsapp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2px;
    height: 62vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: auto;
}

.fecha {
    background-color: #E1F3FB;
    align-self: center;
    justify-content: center;
    font-family: 'Cinzel', serif;
    padding: 1vw;
    border-radius: 1vh;
}

.mensaje {
    background-color: #DCF8C6;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: justify;
    padding: 1vh;
    margin: 1vh;
    max-width: 98vw;
    border-radius: 5vh;
}

.mensaje:hover {
    filter: drop-shadow(5px 5px 8px blue);
}

#textarea {
    grid-area: textarea;
    background-color: white;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#entrada {
    width: 100%;
    height: 66%;
    align-self: center;
}

#enviar {
    width: 5vh;
}

#enviar:hover {
    filter: invert(100%);
}

#emoji {
    width: 5vh;
}

.emoji {
    height: 10vh;
}

.emojiEnviado {
    height: 4vh;
}

#teclado {
    grid-area: teclado;
    background-color: grey;
    display: flex;
    height: 22vh;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 1vw;
}

#mayusculas {
    order: 1;
    width: 13vw;
}

#borrarUltimoCaracter {
    order: 2;
    width: 12vh;
}

#reset {
    order: 3;
}

#coma {
    order: 4;
}

#espacio {
    order: 5;
    width: 40vw;
    background-color: whitesmoke;
}

#espacio:hover {
    background-color: gainsboro;
}

#espacio:active {
    background-color: azure;
}

#punto {
    order: 6;
}

#borrarPalabra {
    order: 7;
}

#borrarPrimerCaracter {
    order: 8;
}

#saltoLinea {
    order: 9;
    width: 13vw;
}

@media (min-width: 601px) {
    #reset {
        order: 1;
        width: 7vw;
    }

    #borrarPalabra {
        order: 2;
        width: 7vw;
    }

    #mayusculas {
        order: 3;
        width: 8vw;
    }
    #saltoLinea {
        width: 8vw;
    }

    button{
        width: 6vw;
    }

    #borrarPrimerCaracter {
        order: 7;
        width: 8vw;
    }

    #borrarUltimoCaracter {
        order: 4;
        width: 8vw;
    }

    #espacio {
        width: 20vw;
    }

    #bordes {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    #uno {
        order: 1;
    }

    #caja {
        order: 2;
    }

    #entrada {
        height: 70%;
    }

    .emojiEnviado {
        height: 3vh;
    }

    #salida {
        height: 64vh;
    }
}
